<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="info" value="{0} = header,{1} = Barcode, {2} = workerNumber, {3} = colorType ,{4}= headerWidth {5} =ventanaCode. " />
    <add key="TimeToWaitForVentanaServiceInMs"  value="100000"/>
    <add key="TimeToWaitForErrorMessageInMs"  value="10000"/>
    <add key="ventanaip"  value="192.168.0.38" />

	  <add key="ZPLStringWithVentana" value="
^XA
^CI36
^BY2,2,48^FT6,90^B2N,,N,N
^FD{5}^FS
^FH\^FD{1}{6}^FS
^BY30,30^FT128,90^BXN,3,200,0,0,1
^FH\^FD{1}^FS
^FT140,153^A0N,28,28^FH\^FD{2}^FS
^FT5,35^A0N,29,{4}^FH\^FD{0}^FS
^FT32,119^A0N,28,28^FH\^FDPatho Lab^FS
^FT1,152^A0N,28,28^FH\^FD{3}^FS
^PQ1,0,1,Y^XZ
"/>
    <add key="info2" value="{0} = header,{1} = Barcode, {2} = workerNumber, {3} = colorType {4}= headerafter dot {5} =ventanaCode. " />
    
    <add key="ZPLString" value="
^XA~TA000~JSN^LT0^MNW^MTT^PON^PMN^LH0,0^JMA^PR5,5~SD15^JUS^LRN^CI0^XZ
^XA
^MMT
^PW190
^LL0160
^LS0
^FT151,154^A0N,23,24^FH\^FD{2}^FS
^FT54,64^A0N,31,31^FH\^FD{4}^FS
^FT12,152^A0N,23,24^FH\^FD{3}^FS
^FT5,39^A0N,37,36^FH\^FD{0}^FS
^BY40,40^FT16,132^BXN,4,200,0,0,1
^FH\^FD{1} {5} {6}^FS
^FT101,127^A0N,28,28^FH\^FDLab^FS
^FT86,100^A0N,28,28^FH\^FDPatho^FS
^PQ1,0,1,Y^XZ
"/>
	  
	  
    <add key="ZPLStringforHebrew" value="
^XA
^pw184
^lh00,00
^CI36
^FO020,20^a0n,55,55^FDשרבarc^FS
^XZ
"/>
    <add key="defaultPrinter" value="Station 15"/>
  </appSettings>
</configuration>