<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="SDGPrinter" value="ZDesigner GK420t"/>-->
    <add key="SDGPrinter" value="Station 12"/>

    <add key="SAMPLEPrinter" value="Station 12"/>
    <add key="defaultPAPPrinter" value="Station 12"/>
    <add key="SDGInfo" value="{0} = header,{1} = Barcode,
         {2} = clinicName,
         {3} = recievedOn   {4} צנצנות
         {5} תאריך" />
    <add key="SDGZPLStringOLD" value="
      ^XA
      ^CI36
      ^Fo84,20^A0N,20,19^FH\^FD{0}^FS
       ^BY48,48^Fo22,28^BXN,4,200,0,0,1
      ^FH\^FD{1}^FS
      ^Fo84,45^A0N,20,19^FH\^FD{2}^FS
      ^Fo84,69^A0N,20,19^FH\^FD{3}^FS
      ^Fo34,95^A0N,21,21^FH\^FD:תונצנצ תומכ^FS
      ^Fo10,94^A0N,21,21^FH\^FD{4}^FS
      ^Fo195,96^A0N,21,21^FH\^FD{5}^FS
      ^PQ1,0,1,Y^XZ
         "/>
    <add key="SDGZPLString" value="
      ^XA
      ^CI36
      ^Fo84,20^A0N,20,19^FH\^FD{0}^FS
       ^BY48,48^Fo22,28^BXN,4,200,0,0,1
      ^FH\^FD{1}^FS
      ^Fo84,45^A0N,20,19^FH\^FD{2}^FS
      ^Fo84,69^A0N,20,19^FH\^FD{3}^FS
      ^Fo10,94^A0N,21,21^FH\^FD{4}^FS
      ^Fo195,96^A0N,21,21^FH\^FD{5}^FS
      ^PQ1,0,1,Y^XZ
         "/>
    <add key="SDGInfoPap" value="{0} = PathoName,{1} = sdgName 
       {2}=slideName   {3}= patho+slideName 
       {4} = color type {5} user patholab_id
         " />

    <add key="ZPLStringPAP" value="
         ^XA
    ^CI36
    ^LH0,15
    
    ^BY64,64^FT228,103^BXN,4,200,0,0,1
    ^FH\^FD{2}^FS
    ^BY64,64^FT51,103^BXN,4,200,0,0,1
    ^FH\^FD{2}^FS
    
    ^FT306,81^A0N,28,28^FH\^FDPAP^FS
    ^FT129,74^A0N,28,28^FH\^FDPAP^FS
    
         
    ^FT25,130^A0N,28,28^FH\^FDPatho-Lab^FS
    ^FT199,132^A0N,28,28^FH\^FDPatho-Lab^FS
    ^FO153,186^GB61,0,1^FS
 
    ^FO152,0^GB72,0,1^FS
    ^FO185,136^GB0,49,1^FS
    
    ^FO184,3^GB0,54,1^FS
    ^FT4,27^A0N,25,24^FH\^FD{3}^FS
    ^FT186,27^A0N,25,24^FH\^FD{3}^FS
   
    
    ^FT0,170^A0N,28,28^FH\^FD{4}^FS
    ^FT160,170^A0N,28,28^FH\^FD{5}^FS
    
    ^FT190,170^A0N,28,28^FH\^FD{4}^FS
    ^FT333,170^A0N,28,28^FH\^FD{5}^FS
    
    
    ^FT100,294^A0N,28,28^FH\^FDPatho-Lab^FS
    ^FT307,295^A0N,28,28^FH\^FDPAP^FS
    ^FT85,242^A0N,45,45^FH\^FD{0}^FS    
    ^BY56,56^FT13,270^BXN,4,200,0,0,1
    ^FH\^FD{1}^FS
    
    ^PQ1,0,1,Y^XZ
         "/>
    <add key="SDGInfoPapNoAliquot" value="{0} = PathoName,{1} = sdgName " />
    <add key="ZPLStringPAPNoAliquot" value="
      ^XA
    ^CI36
    ^LH0,15
    
    ^FT85,294^A0N,28,28^FH\^FDPatho-Lab^FS
    ^FT307,295^A0N,28,28^FH\^FDPAP^FS
    ^FT85,242^A0N,45,45^FH\^FD{0}^FS    
    ^BY56,56^FT13,270^BXN,4,200,0,0,1
    ^FH\^FD{1}^FS
    
    ^PQ1,0,1,Y^XZ
         "/>


    <add key="SAMPLEInfo" value="{0} = header,{1} = Barcode, {2} = clinicName, {3} = recievedOn   " />
    <add key="SAMPLEZPLString" value="
^XA
      ^CI36
       ^BY48,48^Fo10,28^BXN,5,200,0,0,1
      ^FH\^FD{1}^FS
    ^Fo84,20^A0N,28,28^FH\^FD{0}^FS
    ^Fo84,90^A0N,28,28^FH\^FD{3}^FS
    ^Fo84,55^A0N,28,28^FH\^FD{2}^FS
    ^PQ1,0,1,Y^XZ
         "/>
    
    <add key="ZPLStringforHebrew" value="
^XA
^pw184
^lh00,00
^CI36
^FO020,20^a0n,55,55^FDשרבarc^FS
^XZ
"/>
   
  
  </appSettings>
</configuration>